body {
    background-color: aqua;
}

#h1 {
    text-align: center;
    padding-right: 100px font-size: 45px;
}

#img1 {
    padding-left: 700px;
    width: 500px;
    height: 350px;
}

#p1 {
    font-size: 30px;
}

.links {
    float: left;
    color: aliceblue;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-family: cursive;
    font-size: 20px
}

.menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

#about {
    text-align: center;
    font-size: 40px
}

.links:hover {
    background-color: darksalmon
}

#character-reviews {
    text-align: center;
    color: blue;
}

#iframe1 {
    padding-left: 650px;

}

#iframe2 {
    padding-left: 650px;

}

#iframe3 {
    padding-left: 650px;

}

#a1 {
    padding-left: 800px;
}

#a2 {
    padding-left: 800px;
}

#a3S {
    padding-left: 800px;
}

#p1 {
    text-align: center
}

#h3 {
    text-align: center
}

#Authors {
    text-align: center
}

#img1 {
    width: 800px;
    height: 700px;
    padding-left: 5
}

#img2 {
    width: 800px;
    height: 700px;
    padding-left: 5
}

#img3 {
    width: 800px;
    height: 700px;
    padding-left: 5
}

#img0 {
    padding-left: 450
}

#myname {
    text-align: center;
    font-size: 25px;
}
